* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lemonada', cursive;
}

.section-header{
  background: #D64A41;
  padding: 40px;
}

header .logo {
  position: absolute;
  margin-left: 400px;
  margin-top: -6%;
}

.section-menu {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
}

.section-menu-two {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
}

.menu-img {
  background: #962B2B;
  padding: 15px;
  font-size: 12px;
  padding-bottom: 3px;
  border-radius: 10px;
  color: #D49940;
  box-shadow: 10px 10px 30px 8px #a39494;
}

.formulary {
  background: #C9332A;
  box-shadow: 8px 8px 25px 10px #ca4e4e;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 70%;
  padding: 20px;
  border-radius: 10px;
}

.text-formulary {
  color: #cfbf2f;
  text-align: center;
  padding-bottom: 10px;
}

.inputs-formulary input {
  display: flex;
  background: #863333;
  border: none;
  padding: 10px;
  width: 100%;
  margin: 0px 0px 15px 0px;
  padding-left: 10px;
}
.inputs-formulary input:focus {
  border: solid #D49940;
}

.btn-buy-update {
  justify-content: space-between;
}
.btn-buy {
  background: #FF9534;
  border: none;
  padding: 8px;
  margin-left: 5%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.btn-buy:hover {
  background:#f77c18;
}
.btn-update {
  background: #7C0101;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10%;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-update:hover {
  background: #f58d17;
}

.table-result {
  text-align: center;
  /* display: flex; */
  position: absolute;
  padding: 10px;
  /* padding-left: 160px;
  padding-right: 110px; */
  margin-left: 50%;
  margin-top: -20%;
  border-collapse: collapse;
}

.table-result thead {
  background: #D64A41;
  /* width: 100%; */
}

.table-result td, th {
  min-width: 120px;
  max-width: 150px;
  /* justify-content: space-around; */
  padding: 10px 0px;
}

/*.icons-edit-delete {
   display: block;
  position: absolute;
  padding: 10px;
  padding-left: 443px; 
  margin-left: 49.5%;
  margin-top: -16%;
}*/

.icon-edit {
  background: #D49940;
  padding: 5px;
  color: white;
  border: none;
}

.icon-delete {
  background:#D64A41;
  padding: 5px;
  color: white;
  border: none;
}

.section-footer {
  background: #D64A41;
  margin-top: 4%;
  text-align: center;
  font-size: 50px;
}

.section-footer i {
  color: #f7e64e;
}

.section-footer i:hover {
  opacity: 0.8;
}

.text-footer {
  font-size: 20px;
  color: #f1c27b;
}
